/* border-box makes things easier and we can use it by default */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  padding-top: 60px;
  background-color: white;
}

.ambient-temperature,
.object-temperature {
  display: flex;
  justify-content: space-between;
}
